amqp==5.3.1
asgiref==3.8.1
attrs==25.4.0
billiard==4.2.4
black==24.8.0
celery==5.4.0
cfgv==3.5.0
channels==4.3.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron_descriptor==2.0.8
distlib==0.4.0
Django==5.1.1
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cors-headers==4.9.0
django-debug-toolbar==4.4.6
django-filter==24.3
django-timezone-field==7.2.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.29.0
drf-yasg==1.21.7
filelock==3.25.2
flake8==7.1.1
flower==2.0.1
gunicorn==25.3.0
humanize==4.15.0
identify==2.6.18
inflection==0.5.1
isort==5.13.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pre-commit==3.8.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.9
pycodestyle==2.12.1
pyflakes==3.2.0
PyJWT==2.12.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-discovery==1.2.0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.3
redis==5.0.8
referencing==0.37.0
rpds-py==0.30.0
setuptools==75.1.0
six==1.17.0
sqlparse==0.5.1
tornado==6.5.5
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
vine==5.1.0
virtualenv==21.2.0
wcwidth==0.6.0
whitenoise==6.12.0
